<% all_products = Product.includes(:user).all %>
<ul>
	<% all_products.each do |product| %>
	<li>
		Product <%= product.name %> costs $<%= product.price %> is sold by <%= product.user.name %>
	</li>
	<% end %>
</ul>